*{
    @font-family: Coffeyto;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color:rgb(182, 129, 86);
    overflow: hidden;
}
main{
    height: 100%;
}
#carousel-container{
    height: 600px;
}
#text-title{
    font-family: FastCoffee;
    font-size: 100px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 80px;
}
.hover-on:hover{
  color: rgb(143, 107, 65);
      
}
/* Sobre */
#title-cantinho{
    font-size: 80px;
}
.paragrafos-sobre-nos{
    font-size: 50px;
    text-align: justify;
}
header {
    padding: 10px;
}

.navbar-brand img {
    max-width: 80px;
    height: auto;
}
#border{
    border: solid 5px rgb(0, 0, 0);
    box-shadow: 10px 10px 10px black;
}
/* footer */
#copy{
    font-size: 100px;
}
footer{
    border-top: solid 2px rgb(119, 79, 41);
    box-shadow: 4px 4px 4px 4px black;
    margin-top: 20px;
}